<%
queue <- coalesce(resources$queue, "s_amd")             ## default queue
walltime <- coalesce(resources$walltime, 3600) %/% 60   ## default 1h walltime
memory <- coalesce(resources$memory, 1024*512)          ## default 0.5 GB memory
-%>
#BSUB-J <%= job.name %>         # name of the job
#BSUB-o <%= log.file %>         # output is sent to logfile, stdout + stderr by default
#BSUB-q <%= queue %>            # Job queue
#BSUB-c <%= walltime %>         # Time limit in minutes
#BSUB-M <%= memory %>           # Memory requirements in Kbytes


# we merge R output with stdout from LSF, which gets then logged via -o option
R CMD BATCH --no-save --no-restore "<%= rscript %>" /dev/stdout

