<%
walltime <- coalesce(resources$walltime, 60 * 60) ## default 1 hour
memory <- coalesce(resources$memory, 1024) ## default 1G
nodes <- 1 ## currently hard coded.
-%>
#PBS -N <%= job.name %>
## merge standard error and output
#PBS -j oe
## direct streams to our logfile
#PBS -o <%= log.file %>
#PBS -l walltime=<%= walltime %>,nodes=<%= nodes %>,vmem=<%= memory %>M
  
## Run R:
## we merge R output with stdout from PBS, which gets then logged via -o option
R CMD BATCH --no-save --no-restore "<%= rscript %>" /dev/stdout
